/* Ändra på margin på alla grid för mobilsidan och kanske även desktop */

/* generell styling */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Styling för gridlayouts */

.grid_wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    "na he"
    "ma ma"
    "fo fo"
    ;
}

.inner_grid_index{
    display: grid;
    margin-top: 5px;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    /* 200px 200px innan */
    grid-template-rows: auto 293px;
    grid-template-areas:  
    "in in"  
    "ny er"
    ;
}

.produkter_index{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    /* 95px 95px */
    grid-template-rows: 130px 130px;
    grid-template-areas: 
    "bi1 bi2"
    "bi3 bi4";
}

.inner_grid_katalog{
    display: grid;
    grid-template-columns: 1fr;
    /* 450 px innan */
    grid-template-rows: 399px 399px;
    grid-template-areas:    
    "va"
    "ko"
    ;
}

.inner_grid_produkter{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 266px 266px 266px;
    grid-template-areas:
    "pm"    
    "p1"
    "p2"
    "p3"
    ;
}

.grid_produkt_info{
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    /* 450px innan */
    grid-template-rows: 395px 395px;
    grid-template-areas:    
    "pr"
    "br"
    ;
}

.inner_grid_kundservice{
    display: grid;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 7px;
    grid-template-columns: 175px 175px;
    /* Vilka mått ska jag använda för att gör dem kvadratisk */
    grid-template-rows: 175px 175px;
    grid-template-areas:    
    "le re"
    "vi ko"
    ;
}

.om_oss_grid{
    display: grid;
    margin-top: 25px;
    margin-bottom: 25px;
    grid-template-columns: 1fr;
    /* 400px innan */
    grid-template-rows: 150px auto 150px auto 150px auto;
    grid-template-areas: 
    "hi"
    "ht"
    "ib"
    "it"
    "vp"
    "vt"

    ;
}

/* Styling för class/id */

/* Index */
.produkt_index_bild_1{
    grid-area: bi1;
    background-color: white;
}

.produkt_index_bild_2{
    grid-area: bi2;
    background-color: white;
}

.produkt_index_bild_3{
    grid-area: bi3;
    background-color: white;
}

.produkt_index_bild_4{
    grid-area: bi4;
    background-color: white;
}

.produkter_index img{
    display: block;
    width: 100%;
    height: 100%;
    /* 88% innan */
    object-fit: cover;
    padding: 3px;
}

#nyheter{
    margin-right: 5px;
    background-color: white;
    grid-area: ny;
}

#erbjudanden{
    margin-left: 5px;
    background-color: white;
    grid-area: er;
}

#info_index{
    grid-area: in;
    background-color: white;
    margin-bottom: 5px;
}

/* Katalog */
#vardagsrum{
    grid-area: va;
    background-color: white;
    margin: 10px;
    font-size: 18px;
}

#vardagsrum h2{
    display: flex;
    justify-content: center;
}

#vardagsrum img{
    display: block;
    width: 100%;
    height: 93%;
    object-fit: cover;
}

#kok{
    grid-area: ko;
    background-color: white;
    margin: 10px;
    font-size: 18px;
}

#kok h2{
    display: flex;
    justify-content: center;
}

#kok img{
    width: 100%;
    height: 93%;
    object-fit: cover;
    display: block;
    
}

/* .produkt_meny{
    grid-area: pm;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
} */

.produkt_1{
    margin: 10px;
    grid-area: p1;
    background-color: white;
}

.produkt_2{
    margin: 10px;
    grid-area: p2;
    background-color: white;
}

.produkt_3{
    margin: 10px;
    grid-area: p3;
    background-color: white;
}

.inner_grid_produkter section img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 90%;
}

.inner_grid_produkter h2{
    display: flex;
    justify-content: center;
}

/* Kundservice */
#leverans{
    grid-area: le;
    background-color: white;
}

#returnera{
    grid-area: re;
    background-color: white;
}

#villkor{
    grid-area: vi;
    background-color: white;
}

#kontakta_oss{
    grid-area: ko;
    background-color: white;
}

.inner_grid_kundservice img{
    display: block;
    width: 100%;
    height: 84%;
    object-fit: cover;
}

.inner_grid_kundservice h2{
    display: flex;
    justify-content: center;
}

/* Produkt info */
#produkt{
    grid-area: pr;
    background-color: black;
}

#produkt_beskrivning{
    grid-area: br;
    background-color: white;
}

#produkt img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Om oss*/
.historia{
    grid-area: hi;
    margin: 5px;
    background-color: gray;
}

.historia_text{
    grid-area: ht;
    margin: 5px;
    background-color: white;
}

.vision{
    grid-area: ib;
    background-color: gray;
}

.vision_text{
    grid-area: it;
    background-color: white;
}

.vora_produkter{
    margin-top: 30px;
    margin: 5px;
    grid-area: vp;
    background-color: gray;

}

.vora_produkter_text{
    grid-area: vt;
    margin: 5px;
    background-color: white;
}

.om_oss_grid img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Generella taggar */
header{
    grid-area: he;
}

nav{
    background-color: white;
    grid-area: na;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: ma;
    background-image: url(../img/bakgrundsbild.jpg);
}

footer{
    background-color:whitesmoke;
    grid-area: fo;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Menyer */
.footer_list{
    list-style-type: none;
}

.footer_item{
    text-decoration: none;
    color: black;
}

.footer_item:hover{
    text-decoration: underline;
}

.meny_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: absolute;
    left: -90vw;
    height: 482px;
    top: 83px;
    width: 20%;
    list-style-type: none;
    transition: all 1s;
}

.meny_item{
    text-decoration: none;
    font-size: 17px;   
    color: black;
}

/* Hur gör jag menyn större för produkterna */
.produkt_list{
    margin: 5px;
    grid-area: pm;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: rgb(240, 240, 240);
    list-style-type: none;
}

.produkt_item{
    text-decoration: none;
    font-size: 25px;   
    color: black;
}

.produkt_item:hover{
    text-decoration: underline;
}

.meny_item:hover{
    text-decoration: underline;
}

/* Burgermeny */
.burger{
    margin-left: 20px;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10%;
    background-color: black;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.navActive{
    transform: translateX(90vw)
}

/* Desktopversion */
@media screen and (min-width: 1200px) {
    .grid_wrapper{
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "he he"
        "na na"
        "ma ma"
        "fo fo"
        ;
    }

    .inner_grid_index{
        grid-template-columns: 450px 450px;
        grid-template-rows: auto 480px;
    }

    .produkter_index{
        grid-template-columns: 220px 220px;
        grid-template-rows: 223px 223px;
    }

    .inner_grid_katalog{
        margin-right: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 395px 395px;
    }

    .inner_grid_kundservice{
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
    }

    .om_oss_grid{
        grid-template-columns: 1000px;
        ;
    }

    .om_oss_grid{
        display: grid;
        margin-top: 25px;
        margin-bottom: 25px;
        grid-template-columns: 1fr 1fr;
        /* 400px innan */
        grid-template-rows: 250px auto 150px auto 150px auto;
        grid-template-areas: 
        "hi hi"
        "ht ht"
        "it ib"
        "it ib"
        "vp vt"
        "vp vt"
    
        ;
    }

    .produkter_index img{
        height: 92%;
    }

    #vardagsrum img{
        height: 93%;
    }

    #kok img{
        height: 93%;
    }

    
    .inner_grid_kundservice img{
        height: 91%;
    }

    .burger{
        display: none;
    }

    .meny_list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(240, 240, 240);
        position: relative;
        left: 0vw;
        height: 50px;
        top: auto;
        width: 100%;
        list-style-type: none;
        transition: none;
    }

    .navActive{
        transform: none;
    }
}